* { 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif; 
    cursor: default;
    box-sizing: border-box;
    overflow-wrap: anywhere;
}
#invisible{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
    z-index: 2;
    /* background-color:rgba(0,0,0,0.2); */
}
.forLongWords{
    display: none;
}

/* Side navigation bar related styles */
.sideNav {
    display: block;
    float: left;
    height: 100%;
    /* min-width: fit-content; */
    min-width: 330px;
    background: #212529;
    padding-top: 40px;
    color:white;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    bottom: 0px;
}
.txtLogo{
    cursor: pointer; 
    font-size: 17px;
}
.logo{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 30px;
    left: 30px; 
    cursor: pointer;  
}
#logoImg{
    width: 45px;
    float: left;
    margin-right: 15px;
    cursor: pointer; 
}
.listOfItems{
    position:relative;
    top: 80px;
}
.navItem li.active {
    background-color: #ccc;
}
.navItem{
    position: relative;
    margin-top: 5px;
    height: fit-content;
    color: white;
    border-radius: 5px;
    padding-right: 5px;
    white-space: nowrap;
    cursor: pointer;
}
li.navItem{
    list-style-type:none;

}
.downArrow{
    width: 15px;
    position: absolute;
    right: 3px;
    cursor: pointer;
    transition: 300ms;
}
.navItem:hover {
    white-space: nowrap;
    text-decoration: underline;
    cursor: pointer;
}
.sideNavFooter{
    position: fixed;
    bottom: 5px;
    left: 10px;
}
.mainUnorderdList{
    padding: 1rem;
}

/* ************************************** View page styles **************************************** */
.banner{
    margin-bottom: 30px ;
    width: 100%;
}
#viewPage{
    width: 75%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top:5%;
    left: 25%;
    padding-left:15%;
    padding-right: 10%;
    padding-bottom: 20px;
}
.textDescription{
    width: fit-content;
    height: fit-content;
}
.title{
    font-weight: bold;
    font-size: 22px;
}
li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.auto-sizing-text {
    font-size: min(max(16px, 4vw), 32px);
  }
i {
    font-size: 18px;
    margin-right: 10px;
}
/* ************************************** For the notes styles ************************************** */
.note ,.errorHandling ,.warning ,.information ,.done{
    position: relative;
    width: 95%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}
.note{
    background-color: #f0c2e0 ;
    border-left: 4px #b82e8a solid;
}
.errorHandling{
    background-color: #ffb3b3 ;
    border-left: 4px #ff0000 solid;
}
.warning{
    background-color: #ffe6b3 ;
    border-left: 4px #ffaa00 solid;
}
.information{
    background-color: #ccccff ;
    border-left: 4px #0000ff solid;
}
.done{
    background-color: #b3ffb3 ;
    border-left: 4px #009900 solid;
}
/* ************************************** end notes styles ************************************** */

.rotate {
    transform: rotate(90deg);
}
.github-link{
    border: #aaa solid 0.5px;
    border-radius: 5px;
    padding: 2px;
    padding-top: 4px;
    box-shadow: 1px 1px #aaa ;
}
.active-link {
    text-decoration: underline !important;
}
table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    position: relative;

    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    position: relative;
}
.messageRequest{
    border: #ddd 1px solid;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    padding: 5px;
    margin: 10px;
}

h4{
    font-size: 20px;
}
.copyBtn{
    border:white solid 0px;
    background-color: #ffffff;
    color: #212529;
    position: relative;
    left: 95%; 
}
#showNavBarBtn{
    display: none;
    background-color: white;
    border: white solid 0px;
    position: absolute;
    top:10px;
    left:10px;
}
#hideNavBarBtn{
    display: none;
    background-color: #212529;
    border: #212529 solid 0px;
    position: absolute;
    display: flex;
    color: white;
    font-size: 15px;
    top: 10px;
    left: 10px;
}
/* ******************************************* media screen ********************************************** */
/* ************************************** for small screens ******************************************** */
@media screen and (max-width: 376px) {
/* p {
    background-color: lightblue;
} */
.forLongWords{
    display: block;
}
#showNavBarBtn{
    display: block;
    background-color: white;
    border: white solid 0px;
    position: absolute;
    top:10px;
    left:10px
    
}
#hideNavBarBtn{
    display: none;
    background-color: #212529;
    border: #212529 solid 0px;
    position: absolute;
    display: flex;
    color: white;
    font-size: 15px;
    top: 10px;
    left: 10px;
}
.sideNav{
    display: none;
}
#viewPage{
    width: 100%;
    height: auto;
    position: absolute;
    top:10%;
    left: 0%;
    padding-bottom: 20px;
}
.banner{
    margin-bottom: 30px ;
    width: 100%;
}
.messageRequest{
    overflow: scroll;
}
.longString{
    overflow: scroll;
}
.warning{
    overflow: scroll;
}

}
/* ************************************** for medium screens ******************************************** */
@media screen and (min-width: 376px) and (max-width : 800px){
/* p {
    background-color: lightblue;
} */
.forLongWords{
    display: block;
}
#showNavBarBtn{
    display: block;
    background-color: white;
    border: white solid 0px;
    position: absolute;
    top:10px;
    left:10px
    
}
#hideNavBarBtn{
    display: none;
    background-color: #212529;
    border: #212529 solid 0px;
    position: absolute;
    display: flex;
    height: 20px;
}
.sideNav{
    display: none;
}
#viewPage{
    width: 100%;
    height: auto;
    position: absolute;
    top:10%;
    left: 0%;
    padding-bottom: 20px;

}
.banner{
    margin-bottom: 30px ;
    width: 100%;
}

.messageRequest{
    overflow: scroll;
}
.longString{
    overflow: scroll;
}
.warning{
    overflow: scroll;
}
}
/* ************************************** for large screens ******************************************** */
@media screen and (min-width: 801px){
/* p {
    background-color: red;
} */
.forLongWords{
    display: none;
}
#showNavBarBtn{
    display: none;
    background-color: white;
    border: white solid 0px;
    position: absolute;
    top:10px;
    left:10px
    
}
#hideNavBarBtn{
    display: none;
    background-color: #212529;
    border: #212529 solid 0px;
    position: absolute;
    display: flex;
    height: 20px;
}
.sideNav{
    display: block;
    float: left;
    height: 100%;
    min-width: fit-content;
    background: #212529;
    padding-top: 40px;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    bottom: 0px;    
}
#invisible{
    display: none;
    }
}

    